{% extends 'base.html.twig' %}

{% block title %}Agence XYZ{% endblock %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Agence lorem ipsum</h1>
        <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad aliquam amet assumenda consequatur cum, delectus doloremque ea, eos et illum nobis nostrum obcaecati omnis quos reprehenderit, sed sint sunt temporibus.</span></p>
    </div>
{% endblock %}
